.sprite_resolver_drop_down Label {
    width: auto;
    max-width: 80px;
    min-width: 80px;
}

.imageArea {
    padding-top: 10px;
    padding-bottom: 10px;
}

.platform_item {
    min-width: 180px;
    color: rgba(0, 0, 0, 255);
    flex-grow: 1;
}
